.companyImage {
  width: 42px;
  height: 42px;
  display: flex;
  overflow: hidden;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: 1px solid #dedede;
  img {
    height: 42px;
  }
}

.title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.subtitle {
  font-size: 14px;
  color: #7c7e8c;
  font-weight: 400;
  margin-bottom: 0px;
  padding-left: 2px;
}

.flexBox div {
    flex: 0 1 calc(25% - 20px);
}

@media (max-width: 768px) {
    .flexBox div {
        flex: 0 1 calc(50% - 20px);
    } 
}

.stpBox {
    width: 42px;
    height: 42px;
    display: flex;
    z-index: 1;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #dedede;
}